*{
	margin : 0;
	padding : 0;
}
#listWrap{
	width : 100%;
	margin-top : 50px;
}
table{
	width : 680px;
	border : 1px solid lightgray;
	margin : 0 auto;
	text-align : center;
}
h2{
	margin-bottom : 50px;
}
.title{
	width : 480px;
}
a{
	text-decoration: none;
	width : 100%;
}
a:hover{
	font-weight: bold;
}
.num,.write,.cnt{
	width : 100px;
}
td{
	border-right : 1px solid lightgray;
}
th{
	border : 1px solid lightgray;
	background: yellowgreen;
}
#foot{
	width : 680px;
	margin : 0 auto;
	margin-top : 10px;
	text-align: right;
}
#navi{
	width : 680px;
	margin : 0 auto;
}
#navi a,b{
	color : black;
	text-decoration: none;
}
input{
	margin-top : 0;
	height : 20px;
}
select{
	height : 25px;
}