@charset "UTF-8";
@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);

/* RESET */
* {box-sizing:border-box; text-decoration:none; letter-spacing: -0.25px;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1; word-break:keep-all;
}
a:visited{color:#333;}
a{color:#333;}
a dt{color:#333;}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clearfix:after{content:''; display:block; clear:both;}
img {vertical-align:top;}
.hidden{position:fixed; left:0; top:-9999999em; visibility:hidden;}


/* LAYOUT */
.container{width:1200px; margin:0 auto;}

/* TYPOGRAPHY */
body{
	/* font-family: 'NanumSquare', sans-serif; font-weight: 300; font-size:16px/1; color:#333; */ 
	font:16px/1; font-family: 'Noto Sans', sans-serif; font-weight: 400; color:#333;
}
h2 {font-size:28px; font-weight: 700;}
#wrap {
	width: 100%;
	margin-top: 100px;
}
#content{
	width : 480px;
	margin : 0 auto;
	border : 1px solid lightgray;
}
form{
	text-align: center;
}
#error{
	display : none;
}
h1{
	color : #333;
	margin-bottom : 20px;
}
p{
	margin-top : 20px;
}
fieldset{
	margin : 10px;
}