<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>Day0530_JSP2</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>		
	</welcome-file-list>

	<!-- 서블릿 설정하기 -->
	<!-- 1. servlet 등록하기 2. 요청 매핑하기 -->

	<servlet>
		<servlet-name>memberServlet</servlet-name>
		<servlet-class>servlet.MemberServlet</servlet-class>
	</servlet>
	<filter>
		<filter-name>loginCheck</filter-name>
		<filter-class>filter.LoginCheckFilter</filter-class>
	</filter>
	<servlet-mapping>
		<servlet-name>memberServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.css</url-pattern>
		<url-pattern>*.js</url-pattern>
		<url-pattern>*.PNG</url-pattern>
	</servlet-mapping>
	

	<filter-mapping>
		<filter-name>loginCheck</filter-name>
		<url-pattern>/modify</url-pattern>
		<url-pattern>/main</url-pattern>
		<url-pattern>/memberListForm</url-pattern>
	</filter-mapping>
</web-app>